body{
    background:#ccc;
}
.main-img{
    width:100%;
    display:block;
    margin:0 auto;
    object-fit:cover;
    /* position: absolute; */
    top: 20%;
}
img{
    /* padding: 2%; */
    width: 100%;
    position: relative;
    text-align: center;
    object-fit:cover;
}
.slider-for{
    width: 100%;
}
.slider-nav{
    /* margin-left: 15px; */
}
.img-click{
    width: 100%;
    padding: 2%;
    object-fit:cover;
}
.action{
    display:block;
    margin:100px auto;
    width:100%;
    text-align:center;
}
.action a {
    display:inline-block;
    padding:5px 10px; 
    background:#f30;
    color:#fff;
    text-decoration:none;
}
.action a:hover{
    background:#000;
}

.frameMap{
    width: 100%;
    height: 280px;
}

/* ITEM ROOM */
.list-room-block{
    margin-top: 20px;
}
.room-item{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.room-item-img{
    height: 240px;
}
.room-item-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.modal-chitiet{
    width: 100%;
    height: 100%;
}
.carousel-item img{
    height: 100%;
}
.modal-dialog{
    /* padding: 20px 50px; */
    width: 50% !important;
    margin: 17px 50px !important;
    max-width: 70% !important;
    justify-content: center;
}
.show{
    display: flex !important;
}
.modal{
    align-items: center;
    justify-content: center;
    height: 100%;
}
.carousel-inner{
    height: 80%;
    object-fit: cover;
}
.carousel-item img{
    height: 100%;
    object-fit: contain;
}
.carousel-inner{
    height: 100%;
}
.carousel{
    height: 100%;
    object-fit: contain;
}
.dv-item-block{
    width: 109%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

}
.dv-item-main{
    display: flex;
    width: calc((100%)/6);
    /*height: 100%;*/
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
}
.dv-item-main img{
    width: 20px;
    height: 20px;
}

.choose-date-people-block{
    background-color: #f5f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    width: 100%;
    border-radius: 4px;
}
.choose-date-people{
    display: flex;
    align-items: center;
    width: 100%;
}
.choose-date-people p{
    margin-bottom: 0;
}


/* FEEDBACK */
.fb_main{
    border-bottom: 1px solid rgba(0,0,0,.09);
    padding: 30px 0px;
}
.fb_item{
    margin-bottom: 14px;
}
.fb_img_name{
    display: flex;
    align-items: center;
}
.fb_img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.fb_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}
.fb_name{
    font-weight: 600;
    font-size: 16px;
}
.fb_vote{
    display: flex;
    align-items: center;
}
.btn_vote{
    border-bottom: none !important;
    padding-bottom: 0px !important;
}

.btn_vote button{
    color:black;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    margin-right: 16px;
    border: 1px solid #e0e0e0;
    background-color: white;
}