<!--FOOTER-->
<footer class="footer">
  <div class="footer-header">
  </div>
  <div class="footer-info" style="padding:2rem 9%;font-size:13px">
    <div class="col-lg-3 col-sm-6">
      <div style="display:inline-flex">
        <img src="https://citigym.com.vn/themes/citigym/images/logo.png" alt="" style="width:100%;object-fit:contain">
      </div>
      <p style="text-align:justify">Toà nhà Phú Mỹ Hưng, số 8 Hoàng Văn Thái, khu phố 1, Phường Tân Phú, Quận 7, Thành phố Hồ Chí Minh</p>
      <img src="/image/dkt.png" alt="">
      <div style="margin-top:30px" id="footer-needed-none">
        <p class="footer-info-title">VỀ CHÚNG TÔI</p>
        <p>Thành tựu</p>
        <p>Liên hệ</p>
        <p>Tuyển dụng</p>
        <p>Câu hỏi thường gặp</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" id="footer-needed-none">
      <div class="footer-infp-survice">
        <p class="footer-info-title">TIN TỨC & SỰ KIỆN</p>
        <p>Cẩm nang</p>
        <p>Sự kiện</p>
        <p>Thị trường</p>
        <p>Trải nghiệm</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" id="footer-needed-none">
      <div>
        <p class="footer-info-title">ĐỐI TÁC</p>
        <p>Đối tác ngân hàng</p>
        <p>Đối tác doanh nghiệp</p>
      </div>
      <div style="margin-top:30px">
        <p class="footer-info-title">ĐIỀU KIỆN & QUY ĐỊNH</p>
        <P>Điều khoản chung</P>
        <p>Quy định chung</p>
        <p>Quy định về tập thử</p>
        <p>Quy định về tài khoản khách hàng</p>
        <p>Chính sách về quyền riêng tư</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" id="footer-needed-none">
      <div style="margin-top:30px">
        <p class="footer-info-title">TẢI ỨNG DỤNG NGAY</p>
        <img src="/image/apple.svg" alt="" style="margin-bottom:15px">
        <img src="/image/chplay.svg" alt="">
      </div>
    </div>
  </div>
</footer>