<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/dichvu.css">
  <link rel="stylesheet" href="/css/lichtap.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="shortcut icon" href="https://cali.vn/themes/cfyc/assets/static/favicon/favicon.svg">
  <title>Lịch tập</title>
  <!-- icon -->
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--SWAL-->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- FONT HELGA -->
  <style>
    .img-place:hover {
      cursor: pointer !important;
    }

    .cchv {
      min-height: 550px;
      position: relative;
      background-size: cover !important;
      overflow: hidden;
      object-fit: cover;
      background: url("https://citigym.com.vn/themes/citigym/images/banners/news-banner.jpg")
    }

    .cchv::before {
      opacity: 0.5;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: -webkit-linear-gradient(top, rgba(204, 0, 0, .7) 0, rgba(165, 0, 0, .7) 100%);
      background: linear-gradient(to bottom, rgba(204, 0, 0, .7) 0, rgba(165, 0, 0, .7) 100%);
    }

    .slick-slide {
      height: 400px !important;
    }

    .story {
      transform: translateY(10px);
    }

    #lichhoc{
      color: #a50000;
      border-bottom: 2px solid #a50000;
    }

  </style>
</head>

<body>
<head  th:replace="~{header.html}"></head>

<section class="feature">
  <div class="feature_banner">
    <div class="feature_banner_item">
      <img style="width:100%;height: 600px;object-fit: cover;background-size: cover;"
           src="/image/317347323_819117009364185_7410377601382352134_n.png" alt="">
    </div>
    <div class="feature_banner_item--inner">
      <!-- <img src="../assets/image/317347323_819117009364185_7410377601382352134_n.png" alt=""> -->
    </div>
  </div>
</section>

<div class="uudai" style="margin-bottom: 0px !important;">
  <div class="main">
    <div class="uudai-list">
      <div style="padding: 15px">
        <h1 style="font-size: 30px;font-weight:700">FIND CLASS SCHEDULE</h1>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="form-group">
            <select class="form-control" id="chontinhthanh" style="font-size:18px">
              <option>Chọn tỉnh thành</option>
              <option value="hcm">Thành phố Hồ Chí Minh</option>
              <option value="hn">Hà Nội</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-group">
            <select class="form-control" id="chonclb" style="font-size:18px">
              <option>Chọn câu lạc bộ</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-group">
            <select class="form-control" id="chonchuongtrinh" style="font-size:18px">
              <option>Chọn chương trình</option>
              <option value="yoga">Yoga</option>
              <option value="groupx">GroupX</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-group">
            <select class="form-control" id="chontuan" style="font-size:18px">
              <option>chọn tuần</option>
              <option value="28/11 - 04/12">28/11 - 04/12</option>
            </select>
          </div>
          <button class="btn btn-success" id="btnxemclich" style="font-size: 18px">Xem lịch</button>
        </div>

        <div>
          <img id="showlichtap">
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="row main" style="margin-top: 50px;background-color: #141414">
      <div class="col-lg-6 col-12">
        <div>
          <h1 style="color: white;font-size:70px">CHƯƠNG TRÌNH TẬP LUYỆN KHÔNG GIỚI HẠN</h1>
          <p style="color: white;font-size:16px;text-align:justify">Tiếp cận hơn 35 câu lạc bộ trên toàn
            quốc tại những vị trí thuận tiện nhất, được trang bị đầy đủ thiết bị cao cấp Technogym,
            phòng xông hơi khô, phòng thay đồ sang trọng, hồ bơi, bể jacuzzi, phòng chờ VIP, quầy bar
            nước trái cây và hơn thế nữa.</p>
          <div style="display: flex;">
            <a href="" style="color: white;font-size:20px">Tìm câu lạc bộ gần bạn</a>
            <img src="https://cali.vn/themes/cfyc/assets/static/icon/Vector-readmore-white.svg"
                 style="width:22px;margin-left: 5px;" alt="">
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div>
          <img style="width:100%;position: relative;" src="https://citigym.com.vn/storage/uploads/body-combat.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<head  th:replace="~{footer.html}"></head>
<script src="/js/js.js"></script>
<script>
  let chontinhthanh = document.getElementById('chontinhthanh')
  let clbhcm = ['GDC - Gold View - Q.4', 'AMU - AEON MALL - Q.Tân Phú']
  let clbhn = ['WPC - CenturyOn West Point - Q.Tây Hồ', 'MAC - Mac Plaza - Q.Hà Đông'];

  chontinhthanh.onchange = function ()
  {
    let clb = document.getElementById('chonclb')
    let address = chontinhthanh.value
    if (address == 'hcm')
    {
      clb.innerText = ''
      for (const [index, a] of clbhcm.entries()) {
        const opt = document.createElement('option');
        opt.value = a;
        opt.innerHTML = a;
        clb.appendChild(opt);
      }
    }
    if (address == 'hn')
    {

      clb.innerText = ''
      for (const [index, a] of clbhn.entries()) {
        const opt = document.createElement('option');
        opt.value = a;
        opt.innerHTML = a;
        clb.appendChild(opt);
      }
    }
  }

  $('#btnxemclich').click(function() {
    const status = this.value
    console.log(status)
    $.ajax({
      type: "GET",
      url: 'http://localhost:8080/schedule',
      data: {
        city:$('#chontinhthanh').val(),
        idclb:$('#chonclb').val().substr(0,3),
        ngay:$('#chontuan').val(),
        bomon:$('#chonchuongtrinh').val()
      },
      success: function(res) {
        $("#showlichtap").attr("src",res)
        console.log(res)
      },
      error: function(err) {

        console.log('The following error occured: ' + err);
      }

    })

  });
</script>

</body>

</html>